<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.euphoria.blazze11.googleplus" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="22" android:maxSdkVersion="22" />

  <!-- This will set the Icon, Target package to overlay & priority for this apk -->
  <!-- <application android:icon="@drawable/theme_application_icon" /> -->
  <overlay android:targetPackage="com.google.android.apps.plus" android:priority="60" />

</manifest>